<app-nav id="nav"></app-nav>
<main>
  <app-buscador></app-buscador>
  <header>
    <div
      class="carrusel"
      [style.backgroundImage]="'url(' + carouselItems[currentIndex].image + ')'"
    >
      <!-- Overlay con info dinámica -->
      <div class="carrusel-overlay">
        <h2>{{ carouselItems[currentIndex].titulo }}</h2>
        <p>{{ carouselItems[currentIndex].descripcion }}</p>
        <div class="precio-carr">
          <span class="precio-carr">{{ carouselItems[currentIndex].precio }}</span>
        </div>
        <a class="btn-comprar"
          [routerLink]="['/detalles', carouselItems[currentIndex].id]"
          [state]="{ juego: carouselItems[currentIndex]}">
          Comprar ahora
        </a>
      </div>

      <div class="cont-botones">
        <button (click)="prevSlide()">❮</button>
        <button (click)="nextSlide()">❯</button>
      </div>
    </div>    

    

    <div class="Promociones">

      <h2>{{ promiciones() }}</h2>
      <div class="promo-item"
      *ngFor = "let promo of juegos | slice:8:11" 
      [routerLink] = "['/detalles', promo.id]"
      [state] = "{juego: promo}" > <!-- usa state para pasar el objeto promo completo igual que en el carrusel -->
        <img [src]="promo.image" [alt]="" />
        <div class="info-adicional">
          {{promo.descripcion}}
          <div class="precio">
            <span class="precio-original">${{promo.original}}</span>
            <span class="precio-descuento">${{promo.descuento}}</span>
            <button class="btn-promo">Obtener</button>
          </div>
        </div>
      </div>  

      <a href="#nav"><button class="btn-flotante">↑</button></a>



    </div>
  </header>

  <section>
    <div id="mas-jugados">
      <h2 class="categorias">{{ masJugados() }}</h2>
      <div class="games-grid">
        @for (game of juegos; track game.id) {
        <div class="game-card">
          <a [routerLink]="['/detalles', game.id]">
            <img [src]="game.img" [alt]="game.titulo" />
            <div class="game-info">
              <span class="game-title">{{ game.titulo }}</span>
              <span class="game-price">{{ game.precio }}</span>
              <div class="orinal-desc">
                <span class="precio-original">{{ game.original }}</span>
                <span class="game-price">{{ game.descuento }}</span>
              </div>
            </div>
          </a>
        </div>
        }
      </div>
    </div>

    <div id="mas-vendidos">
      <h2 class="categorias">Mas Vendidos</h2>
      <div class="games-grid">
        @for (game of juegos; track game.id) {
        <div class="game-card">
          <a [routerLink]="['/detalles', game.id]">
            <img [src]="game.img" [alt]="game.titulo" />
            <div class="game-info">
              <span class="game-title">{{ game.titulo  }}</span>
              <span class="game-price">{{ game.precio }}</span>
              <div class="orinal-desc">
                <span class="precio-original">{{ game.original }}</span>
                <span class="game-price">{{ game.descuento }}</span>
              </div>
            </div>
          </a>
        </div>
        }
      </div>
    </div>

    <div id="gratis">
      <h2 class="categorias">Gratis</h2>
      <div class="games-grid">
        @for (game of juegos; track game.id) {
        <div class="game-card">
          <a [routerLink]="['/detalles', game.id]">
            <img [src]="game.img" [alt]="game.titulo" />
            <div class="game-info">
              <span class="game-title">{{ game.titulo }}</span>
              <span class="game-price">{{ game.precio }}</span>
              <div class="orinal-desc">
                <span class="precio-original">{{ game.original }}</span>
                <span class="game-price">{{ game.descuento }}</span>
              </div>
            </div>
          </a>
        </div>
        }
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
